/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Verdana;
}


h1 {
  text-align: center;
  margin-bottom: 50px
}

.container {
  position: relative;
  border: 1px solid black;
  background-color: #3333ff;
  width: 90%;
  margin-top: 20px;
  overflow: auto;
}

.description {
  
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 30px 10px 10px 10px;

}

.title {
  position: absolute;
  background-color: green;
  padding: 5px;
  border: 1px solid black;
  top: 0px;
  right: 0px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.title.first {
  background-color: #ffff99
}

.title.second {
  background-color: #ff99ff
}

.title.third {
  background-color: #ffd699;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
  .container {
    height: 320px;
  }
  .container.first {
    margin-left: 10px;
    margin-right: auto;
  }
  .container.second {
    margin-left: auto;
    margin-right: auto;
  }
  .container.third {
    margin-left: auto;
    margin-right: 10px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }

  #fill {
    width: 100%;
  }

  .container {
    height: 200px;
  }
  .container.first {
    margin-left: 10px;
    margin-right: auto;
  }
  .container.second {
    margin-left: auto;
    margin-right: 10px;
  }
  .container.third {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

  }
}

@media (max-width: 767px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    width: auto;
  }
}